name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Build APK
        uses: subhamtyagi/flet-build-action@v1
        with:
          python-path: 'main.py'
          project-name: 'AmmarCalc'
