name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Build APK
        uses: subhamtyagi/flet-build-action@main
        with:
          python-path: 'main.py'
          project-name: 'AmmarCalc'
